---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const heroImage = '/blog-placeholder-2.jpg';

---
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin-top: 20px;
        margin-bottom: 0;
        margin-left: 15vw;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
		</style>
  </head>
  <body>
    <Header />
    <article>
      <div class="hero-image">
        {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
      </div>
    </article>
    <main>
      <h1>🧑‍🚀 Hello, AnArchronaut!</h1>
      <p>
        Welcome to the official <a href="https://anarchitecture.wiki/"
          >AnArchitecture</a
        > Foundation C@ wiki page.
      </p>
      <p>
        This landing page serves as a template built by <a
          href="This landing page serves as a template built by
        Astronauts. It is lightweight, minimally-styled starting point for anyone
        looking to build a personal wiki, website, blog, or portfolio."
          >Astronauts</a
        >. It is lightweight, minimally-styled starting point for anyone looking
        to build a personal wiki, website, blog, or portfolio. This template
        comes with a few integrations already configured in your
        <code>astro.config.mjs</code> file. You can customize your setup with
        <a href="https://astro.build/integrations">Astro Integrations</a> to add
        tools like Tailwind, React, or Vue to your project.
      </p>
      <p>
        Have fun! If you get stuck, remember to <a
          href="https://docs.astro.build/"
          >read the docs
        </a> or <a href="https://astro.build/chat"
          >join your space expedition on Discord</a
        > to ask questions web dev and prime directives.
      </p>
    </main>
    <Footer />
  </body>
</html>
